/*Formatações Gerais*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #202020;
}
body::-webkit-scrollbar {
    width: 15px;            
}
  
body::-webkit-scrollbar-track {
    background: #222;        
}
body::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border: solid black 2.5px;
    border-radius: 15px;    
}
.mobile-nav-bar{
    display: none;
    color: white;
}
.mobile-nav-bar li{
    text-align: center;
}
.mobile-nav-bar li:not(:last-child){
    padding-bottom: 1rem;
}
.mobile-nav-bar li a{
    color: white;
    text-decoration: none;
}
.itens-mobile-nav-bar li i{
    margin-right: 0.5rem 
}
.btn-mobile-menu{
    display: none;
}
.btn-mobile-menu button{
    border: none;
    cursor: pointer;
}
.btn-mobile-menu i{
    font-size: 1.4rem;
    color: white;
}
.nav-bar{
    text-align: center;
    list-style: none;
    background-color: #000;
    width: 100%;
}
.nav-bar li{
    display: inline-block;
    margin: 0.5% 3%;
    text-align: center;
    transition: 0.5s;
}
.nav-bar li:hover{
    scale: 1.2;
}
.nav-bar li i{
    display: block;
    margin: 5%;
}
.nav-bar li a{
    color: white;
    text-decoration: none;
}
.barra{
    background-color: white;
    color: white;
    width: 0px;
    height: 0.2em;
    animation: aumentarBarra 1.5s ease-in-out forwards;
}
@keyframes aumentarBarra {
    0% {
        width: 0; /* No início, a largura é zero */
    }
    100% {
        width: 100%; /* No final, a largura é 100% */
    }
}
.cabecalho{
    margin: 1% 5% 5% 5%;
    color: #101010;
    font-size: 1.15em;
}
.titulo{
    text-align: center;
    margin-bottom: 5%;
}
.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

/*Formatações Home*/
.coluna-imagem{
    margin-top: 2rem;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.coluna-imagem>.cabecalho h1{
    font-size: 1.8em;
}
.coluna-imagem>.cabecalho h3{
    font-size: 1.5em;
    text-align: center;
}
.container img{
    text-align: center;
    width: 20rem;
    border-radius: 5%;
    transition: 0.5s;
}
.container img:hover{
    scale: 1.05;
}
.container article{
    margin-top: 8rem;
    margin-left: 4rem;
    text-align: justify;
}
.gratidao{
    text-align: center;
    margin-bottom: 5%;
}
/*Fim Formatações Home*/

/*Página Formação*/
.certificados{
    min-height: 150vh;
}
.titulo-certificado{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 2% 0;
}
.titulo-experiencia{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 2% 0;
}
.container-pagina{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 3% 1%;
    justify-content: space-between;
}
.sessao-certificados{
    width: 50%;
    text-align: center;
}
.slider{
    margin: 0 0 2% 2%;
    height: 650px;
    overflow: hidden; 
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slides input{
    display: none;
}
.slide {
    position: absolute; /* Posição absoluta para empilhar os slides uns sobre os outros */
    transition: transform 1s ease; /* Transição suave do slide */
    overflow: hidden; /* Garante que a sobreposição não seja visível fora do slide */
}
.arrow {
    position: absolute;
    display: flex;
    align-items: flex-end;
    height: 80%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
    transition: color 0.3s ease;
    opacity: 0.5;
    border: none;
    transition: 0.5s;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}
/* Estilo das setas ao passar o mouse */
.arrow:hover {
    color: #000;
    opacity: 1;
}

.slides {
    position: relative; /* Necessário para posicionar os slides */
    width: 100%; /* Garante que os slides ocupem toda a largura do contêiner */
                /* Esconde slides fora da tela */
}
.slide img{
    width: 90%;
    height: auto;
}
.manual-navigation{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 50%;
}
.marca-slide{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: 1s;
    cursor:inherit;
}
.marca-slide:not(:last-child){
    margin-right: 10px;
}
.marca-slide.active {
    background-color: #000;
    color: black;
}
.sessao-download{
    width: 50%;
    height: 650px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 28vh;
}
.sessao-download h1{
    font-family: 'Montserrat', sans-serif;
}
.btn-download{
    background-color: black;
    width: 250px;
    color: rgb(235, 225, 235);
    text-decoration: none;
    font-size: 30px;
    padding: 35px 50px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
}
.btn-download i{
    padding: 0 5% 0 0;
}
.btn-download:hover{
    color: white;
    filter: brightness(200%);
}
/*Fim Formatações Formação*/

/*Página Projetos*/
.projetos{
    display: flex;
    flex: 1;
    margin: 1% 5%;
    flex-direction: column;
}
.projetos>h2{
    width: 100%;
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    height: auto;
    text-align: center;
    align-items: center;
    margin: 1%;
    border: 4px solid black;
    border-radius: 2%;
}
.card img{
    width: 100%;
    height: 200px;
}
.conteudo-projeto{
    border-top: 3px solid black;
    height: 35%;
}
.descricao-projeto{
    margin: 5%;
    text-align:left
}
.btn-projeto{
    width: 60%;
    font-size: 17px;
    background-color: white;
    border: 2px solid black;
    padding: 4% 2%;
    color: black;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: 0.75s;
}
.btn-repositorio{
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    border: 2px solid black;
    padding: 2% 5%;
    color: white;
    margin: 5% 0;
    border-radius: 10px;
    transition: 0.75s;
    text-decoration: none;
}
.btn-projeto:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn-repositorio:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 30%;
    left: 37%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    width: 25%;
    height: 20%;
    background-color: white;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.8s ease; /* Transição de opacidade */
}
.btn-close{
    background-color: red;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 30px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
}
.topo{
    padding: 15px 15px 2px 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 2%;
}
.conteudo-modal{
    border-top: 6px solid black;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.8s ease; /* Transição de opacidade */
    pointer-events: none; /* Impede que o modal seja clicado enquanto invisível */
}
/*Fim Formatações Projetos*/

/*Página Contatos*/
.sucesso>.campos{
    margin: 7% 35%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sucesso>.cabecalho{
    text-align: center;
    margin-top: 5rem;
}
.sucesso>.campos p{
    text-align: center;
}
.sucesso>.campos a{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.1em;
    width: 10rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 2%;
    text-decoration: none;
}
.sucesso>.rodape-contatos{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}
.sucesso>.rodape-contatos p{
    color: white;
    font-size: 1.1em;
}
.conteudo{
    display: flex;
    flex: 1;
    text-align: center;
    margin: 0 15%;
}
.formulario{
    display: flex;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
    flex-direction: column;
    align-items: center;
}
.campos{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 10px;
    border: solid black 2px;
}
form{
    display: flex;
    align-items: center;
    width: 60%;
}
.campos button{
    border-radius: 10px;
    background-color: black;
    color: white;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
}
.campos textarea{
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    resize: none;
}
.campos input, .campos textarea{
    background-color: #fefefe;
    border: solid black 2px
}
.campos input, .campos textarea, .campos button{
    margin: 2%;
}
#nome, #email{
    height: 30px;
    padding-left: 35px;
    border-radius: 5px;
}
#nome{
    background-image: url("../assets/icone-usuario.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 7px;
}
#email{
    background-image: url("../assets/email.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.rodape-contatos{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    width: 100%;
}
.rodape-contatos p{
    color: white;
    padding: 1% 0;
}
.redes-sociais{
    display: flex;
    justify-content: center;
}
.redes-sociais a{
    font-size: 4.2em;
    margin: 1% 10%;
    transition: 0.5s;
}
.redes-sociais a:hover{
    scale: 1.2;
}
/*Fim Formatações Contatos*/

/*Media Queries*/
@media screen and (max-width: 767px){
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
        display: none; /* Inicialmente oculto */
        z-index: 998; /* Coloca o overlay abaixo do menu, mas acima dos outros elementos */
        animation-duration: 0.3s; /* Duração da animação */
    }
    @keyframes openMenu {
        0% { opacity: 0; transform: translateY(-20px); } /* Estado inicial: opacidade 0 e deslocamento para cima */
        100% { opacity: 1; transform: translateY(0); } /* Estado final: opacidade 1 e sem deslocamento */
    }
    
    /* Animação de fechar */
    @keyframes closeMenu {
        0% { opacity: 1; transform: translateY(0); } /* Estado inicial: opacidade 1 e sem deslocamento */
        100% { opacity: 0; transform: translateY(-20px); } /* Estado final: opacidade 0 e deslocamento para cima */
    }
    .nav-bar{
        display: none;
    }
    .coluna-imagem>img{
        margin-top: 0;
    }
    .mobile-nav-bar{
        padding: 1rem 0;
        font-size: 1.1em;
        text-align: end;
        display: block;
        background-color: #000;
    }
    .btn-mobile-menu{
        display: block;
    }
    .btn-mobile-menu button{
        background-color: transparent;
        margin-right: 1rem;
    }
    .itens-mobile-nav-bar{
        display: none;
        opacity: 0;
        transition: opacity 0.6 ease;
        list-style: none;
    }
    .sessao-download{
        z-index: 1;
    }
    .slider{
        height: 25rem;
    }
}
@media (max-width: 323px){
    html{
        font-size: 0.9em;
    }
    .container{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .container img{
        width: 70%;
        margin-bottom: 5%;
        border-radius: 5%;
        transition: 0.5s;
    }
    .container article{
        text-align: justify;
        margin: 0;
    }
    .titulo{
        text-align: center;
        margin-bottom: 5%;
    }
    .cabecalho{
        text-align: center;
        margin-bottom: 5%;
    }
    .container-pagina{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
        min-height: 100vh;
    }
    .sessao-certificados{
        width: 90%;
        height: 320px;
        align-items: center;
        margin-bottom: 5%;
    }
    .manual-navigation{
        margin-top: -10%;
    }
    .arrow{
        height: 50%;
        align-items: flex-end;
        margin: 0 2%;
    }
    .titulo-certificado{
        width: 100%;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .sessao-download{
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .btn-download{
        width: 70%;
        padding: 15px 10px;
        text-align: center;
        font-size: 25px;
        border-radius: 20px;
    }
    .titulo-experiencia{
        width: 100%;
        height: auto;
        font-size: 25px;
        margin-bottom: 5%;
    }
    article{
        margin-top: 5%;
    }
    .conteudo{
        margin: 5%;
    }
    .formulario{
        display: flex;
    }
    form{
        width: 100%;
    }
    h2{
        margin: 3% 0;
    }
    .card{
        flex-basis: 90%;
        margin-bottom: 5%;
    }
    .modal{
        position: fixed;
        top: 30%;
        left: 18%;
        border: none;
        border-radius: 30px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
        width: 70%;
        height: 30%;
        background-color: white;
        z-index: 10000;
        opacity: 0;
        transition: opacity 0.8s ease; /* Transição de opacidade */
    }
    .sucesso>.campos{
        margin: 20% 10%;
    }
    .sucesso>.campos p{
        margin: 10%;
    }
}
@media (min-width: 324px) and (max-width: 480px){
    html{
        font-size: 1em;
    }
    .nav-bar{
        text-align: center;
        font-size: 0.8em;
    }
    .container{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .container img{
        width: 70%;
        margin-bottom: 5%;
        border-radius: 5%;
        transition: 0.5s;
    }
    .container article{
        text-align: justify;
        margin: 0;
    }
    .titulo{
        text-align: center;
        margin-bottom: 5%;
    }
    .container-pagina{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 90vh;
    }
    .sessao-certificados{
        width: 100%;
        height: 320px;
        align-items: center;
    }
    .titulo-certificado{
        width: 100%;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .arrow{
        height: 70%;
        margin: 0 3%;
        display: flex;
        align-items: flex-end;
    }
    .manual-navigation{
        margin-top: 5rem;
    }
    .sessao-download{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .btn-download{
        width: 70%;
        padding: 15px 10px;
        text-align: center;
        font-size: 25px;
        border-radius: 20px;
    }
    .titulo-experiencia{
        width: 100%;
        height: auto;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .cabecalho{
        text-align: center;
        margin-bottom: 5%;
    }
    article{
        margin-top: 5%;
    }
    .conteudo{
        margin: 5%;
    }
    .formulario{
        display: flex;
    }
    form{
        width: 100%;
    }
    h2{
        margin: 3% 0;
    }
    .card{
        flex-basis: 75%;
        margin-bottom: 5%;
    }
    .modal{
        position: fixed;
        top: 30%;
        left: 23%;
        border: none;
        border-radius: 30px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
        width: 60%;
        height: 30%;
        background-color: white;
        z-index: 10000;
        opacity: 0;
        transition: opacity 0.8s ease; /* Transição de opacidade */
    }
    .sucesso>.campos{
        margin: 20% 10%;
    }
    .sucesso>.campos p{
        margin: 10%;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .container{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .container article{
        margin-left: 0;
        margin-top: 0;
    }
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-pagina{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-height: 100vh;
    }
    .sessao-certificados{
        width: 100%;
        height: 320px;
        align-items: center;
    }
    .manual-navigation{
        margin-top: 10%;
    }
    .titulo-certificado{
        width: 100%;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .slider{
        height: 40rem;
    }
    .arrow{
        height: 60%;
        margin: 0 5%;
    }
    .sessao-download{
        margin-top: 20%;
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .btn-download{
        width: 70%;
        padding: 15px 10px;
        text-align: center;
        font-size: 25px;
        border-radius: 20px;
    }
    .titulo-experiencia{
        width: 100%;
        height: auto;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .card{
        flex-basis: 45%;
    }
    .modal{
        position: fixed;
        top: 30%;
        left: 30%;
        border: none;
        border-radius: 30px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
        width: 40%;
        height: 30%;
        background-color: white;
        z-index: 10000;
        opacity: 0;
        transition: opacity 0.8s ease; /* Transição de opacidade */
    }
    .sucesso>.campos{
        margin: 20% 10%;
    }
    .sucesso>.campos p{
        margin: 10%;
    }
}

@media (min-width: 768px) and (max-width: 960px){
    .container{
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .container-pagina{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        min-height: 60vh;
    }
    .arrow{
        height: 50%;
        margin: 0 3%;
    }
    .sessao-certificados{
        width: 100%;
        height: 320px;
        align-items: center;
    }
    .manual-navigation{
        margin-top: -5%;
    }
    .titulo-certificado{
        width: 100%;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .sessao-download{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .btn-download{
        width: 60%;
        padding: 20px 10px;
        margin-top: 25%;
        text-align: center;
        font-size: 25px;
        border-radius: 20px;
    }
    .titulo-experiencia{
        width: 100%;
        height: auto;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .card{
        flex-basis: 45%;
    }
    .modal{
        position: fixed;
        top: 30%;
        left: 25%;
        border: none;
        border-radius: 30px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
        width: 50%;
        height: 30%;
        background-color: white;
        z-index: 10000;
        opacity: 0;
        transition: opacity 0.8s ease; /* Transição de opacidade */
    }
    .sucesso>.campos{
        margin: 20% 10%;
    }
    .sucesso>.campos p{
        margin: 10%;
    }
}

@media (min-width: 961px) and (max-width: 1300px){
    .container{
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .container img{
        text-align: center;
        width: 20rem;
        border-radius: 5%;
        transition: 0.5s;
    }
    .container-pagina{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        min-height: 60vh;
    }
    .arrow{
        height: 60%;
        margin: 0 3%;
    }
    .sessao-certificados{
        width: 100%;
        height: 320px;
        align-items: center;
    }
    .manual-navigation{
        margin-top: 5rem;
    }
    .titulo-certificado{
        width: 100%;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .sessao-download{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .btn-download{
        width: 60%;
        padding: 20px 10px;
        margin-top: 25%;
        text-align: center;
        font-size: 25px;
        border-radius: 20px;
    }
    .titulo-experiencia{
        width: 100%;
        height: auto;
        font-size: 25px;
        margin-bottom: 5%;
    }
    .card{
        flex-basis: 30%;
    }
    .modal{
        position: fixed;
        top: 30%;
        left: 25%;
        border: none;
        border-radius: 30px;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
        width: 40%;
        height: 30%;
        background-color: white;
        z-index: 10000;
        opacity: 0;
        transition: opacity 0.8s ease; /* Transição de opacidade */
    }
    .sucesso>.campos{
        margin: 20% 10%;
    }
    .sucesso>.campos p{
        margin: 10%;
    }
}