/*Formatações Gerais*/
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #202020;
}
.nav-bar{
    list-style: none;
    background-color: #000;
    width: 100%;
}
.nav-bar li{
    display: inline-block;
    margin: 0.5% 3%;
    text-align: center;
    transition: 0.5s;
}
.nav-bar li:hover{
    scale: 1.2;
}
.nav-bar li i{
    display: block;
    margin: 5%;
}
.nav-bar li a{
    color: white;
    text-decoration: none;
}
.barra{
    background-color: white;
    color: white;
    width: 0px;
    height: 0.2em;
    animation: aumentarBarra 1.5s ease-in-out forwards;
}
@keyframes aumentarBarra {
    0% {
        width: 0; /* No início, a largura é zero */
    }
    100% {
        width: 100%; /* No final, a largura é 100% */
    }
}
.cabecalho{
    margin: 1% 5% 1% 5%;
    color: #101010;
}
.cabecalho>.titulo{
    text-align: center;
}
.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.rodape{
    background-color: #000;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}
.rodape p{
    color: white;
}
/*Fim Formatações Gerais*/

/*Formatações Home*/

.container img{
    text-align: center;
    width: 30%;
    border-radius: 5%;
    transition: 0.5s;
}
.container img:hover{
    scale: 1.05;
}
.container article{
    margin-left: 5%;
    text-align: justify;
}
/*Fim Formatações Home*/

/*Página Formação*/
.carousel-container {
    margin: 3% 0% 0% 8%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    margin-left: 1.5%;
    margin-top: -10%;
    transition: transform 0.5s ease;
    align-items: center;
    scale: 1.1;
}

.carousel-slide {
    min-width: 100%;
}

.carousel img {
    width: 30%;
    height: auto;
    border: solid 3px red;
}
/*Fim Formatações Formação*/

/*Página Contatos*/
.rodape-contatos{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    width: 100%;
}
.rodape-contatos p{
    color: white;
    padding: 1% 0;
}
.redes-sociais{
    display: flex;
    justify-content: center;
}
.redes-sociais a{
    font-size: 4.2em;
    margin: 1% 10%;
    transition: 0.5s;
}
.redes-sociais a:hover{
    scale: 1.2;
}
.conteudo{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 15%;
}
.formulario{
    display: flex;
    width: 50%;
    margin-top: 2%;
    flex-direction: column;
    text-align: center;
}
.campos{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid black 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.campos button{
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
}
.campos textarea{
    height: 200px;
    border-radius: 5px;
    resize: none;
}
.campos input, .campos textarea{
    background-color: #fefefe;
    border: solid black 2px
}
.campos input, .campos textarea, .campos button{
    margin: 2%;
}
#nome, #email{
    height: 30px;
    padding-left: 35px;
    border-radius: 5px;
}
#nome{
    background-image: url("../assets/icone-usuario.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 7px;
}
#email{
    background-image: url("../assets/email.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
/*Fim Formatações Contatos*/